.gitignore.bak
README.md.bak
LICENSE.bak
.vs
src/.axoCover
src/.vs
src/AzureTableEntityJsonSerializer/bin
src/AzureTableEntityJsonSerializer/obj
src/AzureTableEntityJsonSerializerXUnitTest/bin
src/AzureTableEntityJsonSerializerXUnitTest/obj
*.cache
